@import url('stylesheet.css');

body {
    font-size: 1.8em;
}

.btn {
    font-size: 1em;
}

a#larger_letters {
    display: none;
}

a#normal_stylesheet {
    display: block;
}

.nav-link,
.nav-brand,
.nav-link.active {
    font-size: 0.8em !important;
    /* biztosítja a navbar integritását*/
}

.form-check-label {
    margin-right: 1em;
}
