/*Közös stylesheet*/

body {
    font-family: Varela, Arial, Helvetica, sans-serif;
    background-color: rgb(45, 45, 47);
    margin-bottom: 100px;
    color: white;
}

h1,
h2 {
    text-shadow: 2px 2px 2px rgb(45, 45, 47);
}

h1 {
    color: #2899f5;
    text-align: center;
    padding-bottom: 0.5em;
}

h2 {
    color: white;
    padding-top: 0.5em;
}

p {
    text-align: justify;
}

header,
footer,
main {
    background-color: rgb(30, 30, 32);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(212, 212, 212);
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
}

main {
    border-top: 0;
    border-bottom: 0;
}

header {
    border-radius: 8px 8px 0 0;
    border-bottom: 0;
}

footer {
    border-radius: 0 0 8px 8px;
    border-top: 0;
}

figcaption {
    text-align: center;
    font-style: italic;
}

.navbar{
    margin: 0.5em;
}

.navbar-brand,
.nav-link {
    color: white;
}

.nav-link.active {
    color: #2899f5 !important;
}